:root {
    --primary-color: #e50914;
    --dark-color:#141414;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    -webkit-font-smoothing : antialiased;
    background: #000;
    color: #999;
}

ul{
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

.showcase {
    position: relative;
    width: 100%;
    height: 93vh;
    background: url('../img/background.jpg') no-repeat center center/cover;
}

.showcase::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0 , 0, 0.45);
    box-shadow: inset 120px 100px 250px  #000, inset -120px -100px 250px  #000 ;
}

.showcase-top{
    position: relative;
    width: 100%;
    height: 70px;
    z-index: 2;
}

.showcase-top img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    transform: translate(-50%,-50%);
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%); 

}

.showcase-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    z-index: 2;
}

.showcase-content h1{
    font-weight: 700;
    line-height: 3rem;
    font-size: 3rem;
    margin: 0 0 2rem;
}

.showcase-content p {
    color: rgba(238, 236, 236, 0.9);
    font-weight: 100;
    line-height: 2rem;
    font-size: 2rem;
    margin: 0 0 2rem;
}
/* tabs */
.tabs{
    background-color: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;

}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container{
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

 .tabs p {
     padding-top: 1rem;
     font-size: 1.2rem;
 }

.tabs  .container > div{
    padding: 2rem 0;
}

.tabs .container >div:hover{
    cursor: pointer;
    color: #fff;
}

.tab-border{
    border-bottom: var(--primary-color) 2px solid;
}

.tab-content{
    padding: 2rem 0;
    color: #fff;
    background-color: #000;
}

#tab-1-content ,#tab-2-content,#tab-3-content{
    display: none;
}

.show {
    display: block !important;
}

.tab-1-content-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom{
    margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table{
    width:100%;
    padding-top: 2rem;
    border-spacing: 0;
    border-collapse: collapse;
}

 .table thead tr th{
     padding:0.5rem;
 }

 .table tbody tr td{
     color: #999;
    padding: 0.5rem;
    text-align: center;
}

.table tbody tr td:first-child{
   text-align: left;
}

.table tbody tr td:first-child{
    text-align: left;
 }

 .table tbody tr:nth-child(odd){
     background-color: #222222;
 }

 .footer{
     width: 70%;
     margin: auto;
     margin-bottom: 20px;
 }

 .footer p{
     margin: 30px 0;
 }

 .footer .footer-cols{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 2rem;
 }
 .footer .footer-cols ul li a{
    color: rgb(129, 129, 129);
    
}

.footer .footer-cols ul li{
  
    padding: 0.5rem 0;
}

.text-lg{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-md{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center{
    text-align: center;
    margin: 2rem;
}

.text-dark{
    color: rgb(129, 129, 129);
}

.btn{
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    background:  var(--primary-color);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 900;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0 , 0, 0.45);
}

.btn:hover{
    opacity: 0.8;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
}

.btn-lg{
   font-size: 1rem ;
   padding: 0.8rem 1.1rem ;
   text-transform: uppercase;
   
}

@media(max-width:900px){
    .hide-sm{
        display: none;
    }

    .showcase{
        height: 73vh;
    }

    .showcase-top img{
        top:30%;
        left:5%;
        transform: translate(0);

    }

    .showcase-content h1{
        line-height: 1rem;
        font-size: 1.7rem;
    }

    .showcase-content p{
        line-height: 1rem;
        font-size: 1rem;
    }
    .btn-xl{
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

@media(max-width:700px){
    .tab-1-content-inner{
       grid-template-columns: 1fr;
       text-align: center;
    }

    #tab-2-content .tab-2-content-top{
        display: block;
        text-align: center;
    }
    #tab-2-content .tab-2-content-bottom{
        grid-template-columns: 1fr;
        text-align: center;
    }
}